<div>
    <p>Styling</p>
    <button (click)="openPdfStyle()">Open PDF - Styling</button>
</div>

<div>
   <p>Free Style</p>
   <button (click)="openFreeStyle()">Open PDF - Free Style</button>
</div>
<div>
    <p>Paragraph</p>
    <button (click)="createPDF()">Open PDF - Paragraph</button>
</div>

<div>
    <p>Styling Dictionaries</p>
    <button (click)="openPdfStyleDict()">Open PDF - Styling Dictionaries</button>
</div>

<div>
    <p>Columns</p>
    <button (click)="openPdfColumns()">Open PDF - Columns</button>
</div>

<div>
    <p>Tables</p>
    <button (click)="openPdfTables()">Open PDF - Tables</button>
</div>

<div>
    <p>Lists</p>
    <button (click)="openPdfLists()">Open PDF - Lists</button>
</div>

<div>
    <p>Static Headers and Footers </p>
    <button (click)="openPdfHeadersAndFootersStatic()">Open PDF - static headers and footers</button>
</div>

<div>
    <p>Margins </p>
    <button (click)="openPdfMargins()">Open PDF - margins</button>
</div>

<div>
    <p>Stack Of Paragraphs </p>
    <button (click)="openPdfStackOfParagrahps()">Open PDF - stack of paragraphs</button>
</div>

